# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pth
*.pt
*.onnx

# TensorBoard
runs/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/


*data*/


# Cache
.cache/

# Temporary Files
*.tmptestimg/
